/* Universal Styles */

html {
  background-color: #1f1f1f;
  font-size: 16px;
}

body {
  background-image: url('../images/NGC3201_background.png');
  background-size: cover;
  background-position: 50% 90%;
  background-color: #1f1f1f;
  color: #509ad3;
}

footer {
  background-color: #1f1f1f;
  /*border: 1px dashed grey;*/
  height: 100%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

/* Wheel Nav Styles */

#wheelDiv {
  height: 600px;
  width: 600px;
  margin: auto;
}

#wheelDiv>svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #wheelDiv {
    height: 350px;
    width: 350px;
    }
}

@media (max-width: 400px) {
  #wheelDiv {
    height: 300px;
    width: 300px;
    }
}
