/* Universal Styles */

html {
  background-color: #1f1f1f;
  text-align: center;
  color: #509ad3;
  font-size: 16px;
}

body {
  background-color: #1f1f1f;
  color: #509ad3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wheel Nav Styles */

#wheelDiv {
  height: 600px;
  width: 600px;
  margin: auto;
}

#wheelDiv>svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #wheelDiv {
    height: 350px;
    width: 350px;
    }
}

@media (max-width: 400px) {
  #wheelDiv {
    height: 300px;
    width: 300px;
    }
}
