/* Palette Colors
Moccasin: #FBE2B5
Khaki: #F2CE98
Black: #272017
Sienna: #8A5525
Peru: #AD7D35
*/

html {
background-color: #AD7D35;
color: #F2CE98;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
